<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add questions and answers</title>
</head>
<body>
<form method="post" name="addTest">

    <br>
    <br>

    <input type="text" placeholder="Question" name="question">

    <input type="text" placeholder="First answer" name="firstAnswer">

    <input type="text" placeholder="Second answer" name="secondAnswer">

    <input type="text" placeholder="Third answer" name="thirdAnswer">

    <input type="text" placeholder="Fourth answer" name="fourthAnswer">

    <input type="text" placeholder="Right answer" name="rightAnswer">

    <button status="submit" >Add</button>
    <br>
    <br>
</form>
<br>
<a href="/table">Back to English Test</a>
<br><br>

</body>
</html>