<!DOCTYPE html>
<html lang="en">

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous">
</script>
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }
    </style>
</head>
<body>
<form method="get">
    <p><h4> Добро пожаловать в личный кабинет учителя! </h4></p>
    <br>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <br>
        <br>
        <a href="/test" class="btn">Редактировать тест</a>
        <br>
        <br>
        <a href="/uploadHomework" class="btn">Загрузить домашнее задание</a>
        <br>
        <br>
        <a href="/downloadHomework" class="btn">Получить домашнее задание</a>
        <br>
        <br>
        <a href="/allUsersTest" class="btn">Посмотреть результаты тестов</a>
    </div>

</form>

</body>
</html>