<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Teacher</title>
    <style>
        .btn {
            display: inline-block; /* Строчно-блочный элемент */
            background: #8C959D; /* Серый цвет фона */
            color: #fff; /* Белый цвет текста */
            padding: 1rem 1.5rem; /* Поля вокруг текста */
            text-decoration: none; /* Убираем подчёркивание */
            border-radius: 3px; /* Скругляем уголки */
        }
    </style>
</head>
<body>
<form method="get">
    <p><h4> Добро пожаловать в личный кабинет учителя! </h4></p>
    <br>
    <br>
    <div class="d-grid gap-2 col-6 mx-auto">
        <br>
        <br>
        <a href="/test" class="btn">Редактировать тест</a>
        <br>
        <br>
        <a href="/uploadHomework" class="btn">Загрузить домашнее задание</a>
        <br>
        <br>
        <a href="/downloadHomework" class="btn">Получить домашнее задание</a>
        <br>
        <br>
        <a href="/allUsersTest" class="btn">Посмотреть результаты тестов</a>
    </div>

</form>

</body>
</html>